@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>
        <link rel="stylesheet" href="/assets/stylesheets/style.css">
        <script src="/assets/javascripts/js.js" defer></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">welcome</a></li>
                <li><a href="/operaciones">Operaciones</a></li>
            </ul>
        </nav>
        <main>
        @content
        </main>
    </body>
</html>
