@()

@main("Operaciones") {
    <h1>Calculadora</h1>
        @helper.form(action = routes.HomeController.operaciones()){
            <form method="post">

                <label>Número 1:</label>
                <input type="number" id="num1" name="num1" required>
                <br>

                <label>Número 2:</label>
                <input type="number" id="num2" name="num2" required>
                <br>

                <label>Operacion</label>
                <select name="oper" id="oper" required>
                    <option value="sum">Sumar</option>
                    <option value="res">Restar</option>
                    <option value="mul">multiplicar</option>
                    <option value="div">Dividir</option>

                </select>

                <br>

                <button onclick="Calcular()">Calcular</button>
            </form>
        }
    <button onclick="showAlert()">Click Me</button>
}
